{:aliases  {:dev {:extra-paths ["development/src"
                                "development/resources"
                                "components/app-state/resources"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               ;; Logging
                               ch.qos.logback/logback-classic {:mvn/version "1.4.11"}

                               ;;dev integrant hot reload
                               org.clojure/tools.namespace {:mvn/version "1.4.4"}
                               expound/expound {:mvn/version "0.9.0"}
                               integrant/repl {:mvn/version "0.3.3"}
                               com.lambdaisland/classpath {:mvn/version "0.4.44"}

                               ;; Components
                               poly/env {:local/root "components/env"}
                               poly/app-state {:local/root "components/app-state"}
                               poly/database {:local/root "components/database"}
                               poly/web-server {:local/root "components/web-server"}
                               poly/article {:local/root "components/article"}
                               poly/tag {:local/root "components/tag"}
                               poly/comment {:local/root "components/comment"}
                               poly/user {:local/root "components/user"}
                               poly/spec {:local/root "components/spec"}
                               poly/minio {:local/root "components/minio"}

                               ;; Bases
                               poly/auth {:local/root "bases/auth"}
                               poly/culture {:local/root "bases/culture"}
                               poly/shop {:local/root "bases/shop"}

                               polylith/clj-poly {:mvn/version "0.2.18"}}}

            :test {:extra-paths ["components/user/test"
                                 "components/article/test"
                                 "components/comment/test"
                                 "components/tag/test"]}

            :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                           org.clojure/tools.deps {:mvn/version "0.16.1281"}}
                    :paths ["build/resources"]
                    :ns-default build}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.18"}}}

            :polyx {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                    :extra-deps {polyfy/polylith
                                 {:git/url   "https://github.com/polyfy/polylith"
                                  :sha       "9e79264981b0c5be6e6cb70c93a540a82c489510"
                                  :deps/root "projects/polyx"}}}}}
