{:top-namespace "sour.graffiti"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :projects {"development" {:alias "dev"
                           #_:test #_{:setup-fn sour.graffiti.database.test-setup/setup
                                      :teardown-fn sour.graffiti.database.test-setup/teardown}}
            "graffiti-culture" {:alias "g-cul"}
            "graffiti-shop" {:alias "g-shop"}}}
