{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; Components
        poly/env {:local/root "../../components/env"}
        poly/app-state {:local/root "../../components/app-state"}
        poly/database {:local/root "../../components/database"}
        poly/web-server {:local/root "../../components/web-server"}
        poly/user {:local/root "../../components/user"}

        ;; Bases
        poly/culture {:local/root "../../bases/shop"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:main sour.graffiti.shop.main}}}
