{:paths ["src" "resources"]
 :deps {
        ;; Libs
        crypto-password/crypto-password {:mvn/version "0.3.0"}
        metosin/malli {:mvn/version "0.14.0"}
        com.gfredericks/test.chuck {:mvn/version "0.2.13"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
