{:paths ["src" "resources"]
 :deps {;; Routing
        metosin/reitit {:mvn/version "0.6.0"}

        ;; Data coercion
        luminus-transit/luminus-transit {:mvn/version "0.1.6"
                                         :exclusions [com.cognitect/transit-clj]}

        ;; Ring
        metosin/ring-http-response {:mvn/version "0.9.3"}
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-defaults {:mvn/version "0.3.4"}

        ;; Buddy auth
        buddy/buddy-auth {:mvn/version "3.0.1"}

        ;; kit Libs
        io.github.kit-clj/kit-core {:mvn/version "1.0.6"}
        io.github.kit-clj/kit-undertow {:mvn/version "1.0.6"}
        io.github.kit-clj/kit-hato {:mvn/version "1.0.2"}
        io.github.kit-clj/kit-nrepl {:mvn/version "1.0.3"}
        selmer/selmer {:mvn/version "1.12.50"}
        luminus/ring-ttl-session {:mvn/version "0.3.3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
